body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease, opacity 0.1s ease;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #f99b45;
}

.red{
    background-color: #d95980; 
}

.green{
    background-color: #819ff9;
}

.purple{
    background-color: #63aac0;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: white;
    opacity: 0.6;
}

.btn:active{
    transform: scale(0.95);
}

footer{
    margin-top: 50px;
    color: blueviolet;
}
